
params {
  config_profile_description = 'Dans Phoenix HPC nextflow config'
  config_profile_contact = 'Daniel Thomson daniel.thomson@adelaide.edu.au'
  max_memory = 188.GB
  max_cpus = 64
  max_time = 72.h
  igenomes_base = '~/references/igenomes'
}

process {
  resourceLimits = [
        memory: 188.GB,
        cpus: 64,
        time: 3.d
    ]
   executor = 'slurm'
   clusterOptions="-N 1 -p skylake,icelake,highmem"

  }
  withName: GTDBTK_CLASSIFYWF {
    memory = '200G'
  }
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir="/hpcfs/users/a1205810/"
}

// Set custom cache directory
cache {
    dir = '/hpcfs/users/a1205810/containers/'
}
