
params {
  config_profile_description = 'Dans Phoenix HPC nextflow config'
  config_profile_contact = 'Daniel Thomson daniel.thomson@adelaide.edu.au'
  max_memory = 188.GB
  max_cpus = 64
  max_time = 72.h
  igenomes_base = '/home/a1205810/references/igenomes'
}

process {
  resourceLimits = [
        memory: 188.GB,
        cpus: 64,
        time: 3.d
    ]
   beforeScript = 'module load Singularity/3.10.5'
   executor = 'slurm'
   clusterOptions="-N 1 -p skylake,icelake,highmem"

  }
}

singularity {
  enabled = true
  autoMounts = true
  beforeScript = 'export PATH=/apps/opt/singularity/latest/bin:${PATH}'
  cacheDir="/hpcfs/users/a1205810/"
}

executor {
    queueSize       = 50
    submitRateLimit = '10 sec'
}

cleanup = true
profiles {
    debug {
        cleanup = false
    }
}

// Set custom cache directory
cache {
    dir = '/hpcfs/users/a1205810/containers/'
}
